<turbo-frame id="message_box">
    <div style="border: 1px solid #ddd; border-radius: 12px; padding: 20px; margin-top: 20px;">
    <h2><%= message %></h2>
    <p>현재 시각: <%= Time.current.strftime("%H:%M:%S") %></p>
    </div>
</turbo-frame>