<div class="min-h-screen p-12 flex flex-col">
  <div>
    <h1>Hello, Rails + Hotwire!!</h1>
    <p class="text-base">
      This page is rendered through Rails layout.
      UA: <%= request.user_agent %>
    </p>

    <%= render partial: "message", locals: {
      message: "처음 표시된 메시지입니다."
    } %>

    <div class="flex justify-end mt-2">
      <%= link_to "메시지 바꾸기",
          home_message_path,
          data: { turbo_frame: "message_box" },
          class: "inline-flex rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white hover:bg-blue-700" %>
    </div>
  </div>
</div>
