<div id="<%= dom_id post %>" class="w-full sm:w-auto my-5 rounded-xl border border-[color:var(--nd-line)] bg-[color:var(--nd-surface)] p-6">
  <div class="whitespace-pre-line text-[color:var(--nd-ink)]"><%= post.body %></div>
</div>
